@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
   background-color: aqua;
    
}

section.top-page {
    background: url('wp3708442.jpg') ;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 50px;
    
}



.landing-page iframe{

    width: 350px;
    height: 200px;

}
.header img{


        
}

:root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

  body,
  html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
  }

  .hide-des{


    
  }

  
  
  #ham-menu {
    display: none;
  }
  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 25px;
    border: 3px solid var(--border-color);
  }
  .ham-menu {
    width: 80vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
  }
  .ham-menu > ul > li {
    font-size: 3.5rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: rgb(97, 97, 97);
  }

  .ham-menu > ul > li >a {
    font-size: 4rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: rgb(97, 97, 97);
  }

  .ham-menu > ul >a {
    font-size: 4rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
  }
  #ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--box-shadow-color);
  }
  #ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }
  .full-page-green {
    position: fixed;
    
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
  }
  #ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 10;
    visibility: visible;
  }
  [for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }
  .menu-line {
    display: block;
    width: 18px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
  }
  [for="ham-menu"] > div > span:nth-child(4),
  [for="ham-menu"] > div > span:nth-child(5),
  [for="ham-menu"] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: right center;
  }
  #ham-menu:checked + label span {
    background-color: var(--border-color);
  }
  #ham-menu:checked + label span:nth-child(2),
  #ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
  }
  #ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
  }
  #ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
  }
  
  a {
    font-size: 10px;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Light";
    display: inline;
    font-weight: bold;
    padding: 7px;
    color: var(--icon-hover-bg);
  }
  a::after {
    content: "\e806";
    display: inline-block;
    font-family: fontello;
    padding: 5px;
    font-size: 1.6rem;
    transform: rotate(-90deg);
  }
  .text {
    font-size: 2.5rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
  }
  .title {
    font-size: 3rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
    color: var(--icon-hover-bg);
    padding: 10px;
  }
  .heading {
    font-size: 6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "Patua One";
  }
  .centre-text {
    text-align: center;
    
  }
  .bold-text {
    font-weight: bold;
  }

nav.nav li a{

    display: none;

}

.landing-page {
    
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.landing-page{

padding: 20px;

}
.landing-page iframe{


}

.landing-page h1{

    color: rgb(255, 255, 255);
    font-size:  40px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 80;
    padding-right: 100px;


}

.titreP{

    font-size: 50px;
    text-align: center;
    font-family: 'Abril FatFace', cursive;
    position: relative;
    font-weight: 100;
   
    border-top: #d35333 solid 5px;
}

.titreP::before {
    content: "";
    position: absolute;
    background-color: #fff45b;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.text-img{


position: relative;

text-align: center;

}


.text-img img{

    width: 500px;
    height: 300px;
    position: relative;
    align-items: center;
   

}

.wsh{

    
    font-size: 22px;
    text-align: center;
    font-family: 'Abril FatFace', cursive;
   
    font-weight: 0;
   
    border: #d35333 solid 5px;
    

}

h1{

    color: rgb(0, 0, 0);
}

h2{

    color: black;
}

h3{

    color: black;
}


p{

    color: black;
}
@media screen and (max-width:680px) {
    .landing-page h1{
        

    color: rgb(255, 255, 255);
    font-size:  25px;
     font-family: 'Abril FatFace', cursive;
    font-weight: 80;
    padding-right: 100px;
    }

}

@media screen and (max-width:615px) {
    .landing-page h1{
        

    color: rgb(255, 255, 255);
    font-size:  25px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 80;
    padding-right: 100px;
    }

   


    .landing-page {
    
            display: flex;
            align-items: center;
        
    }

    .landing-page iframe{
    
        width: 100px;
        height: 100px;

        
    }

    .text-img img{

        width: 450px;
        height: 300px;
        position: relative;
        align-items: center;
       
    
    }

    
    
}




.clé{

    display: block;
    justify-content: space-between;
    background-color: darkslategrey;
}

.clé h1{

    font-size: 50px;
    text-align: center;
    font-family: 'Abril FatFace', cursive;
    position: relative;
    font-weight: 100;
}

.bloquer {

    
    
    display: block;
    position: relative;
   
    


}

.lestrois{   
    font-size: 15px;
    text-align: center;
    font-family: 'Abril FatFace', cursive;
    position: relative;
    padding: 15px;
    
    

}



.slider-container {
    max-width: 800px;
    position:relative;
    margin: auto;
    height: 650px;
    overflow: hidden;
    padding: 20px;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
  
  .slide-img {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
  }
  [id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }


  .bloquer1 {
    
    display: block;
    align-items: center;
    justify-content: center;
    padding: 40px;
    justify-content:space-around;
    background-color: #1c87c9;
    
}

.bloquer1 p{

    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.bloquer1 a{

    font-size: 25px;
    color: rgb(22, 15, 2);
    text-decoration: none;
    border: 5px solid rgb(179, 35, 35);
    
}

.bloquer1 img{

    
    width: 100%;
}





.bloquer2 {

    display: block;
    align-items: center;
    background-color: #666464;
  
    padding: 50px;
  

    
}

.bloquer2 p{

   
    color: wheat;
    font-size: 15px;
    text-align: center;
    
}



.list{

    
    font-size: 20px;
   
    color: black;
    text-align: center;
    padding: 20px;
   

}

footer{

background-color: rgb(36, 32, 32);


}
footer i {

    text-align: center;
    font-size: 40px;
  
}



.gallery .control-operator:target ~ .controls .control-button {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .gallery .control-button:first-of-type,
  .gallery .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1),
  .gallery .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2),
  .gallery .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3),
  .gallery .control-operator:nth-of-type(4):target ~ .controls .control-button:nth-of-type(4),
  .gallery .control-operator:nth-of-type(5):target ~ .controls .control-button:nth-of-type(5) {
    color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
  }
  
  .gallery .item:first-of-type {
    position: static;
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }
  
  .gallery .control-operator {
    display: none;
  }
  
  .gallery .control-operator:target ~ .item {
    pointer-events: none;
    opacity: 0;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
  }
  
  .gallery .control-operator:target ~ .controls .control-button {
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
  }
  
  @-webkit-keyframes controlAnimation-2 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    14.3%, 50% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    64.3%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-o-keyframes controlAnimation-2 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    14.3%, 50% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    64.3%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @keyframes controlAnimation-2 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    14.3%, 50% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    64.3%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-webkit-keyframes galleryAnimation-2 {
    0% {
      opacity: 0;
    }
  
    14.3%, 50% {
      opacity: 1;
    }
  
    64.3%, 100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes galleryAnimation-2 {
    0% {
      opacity: 0;
    }
  
    14.3%, 50% {
      opacity: 1;
    }
  
    64.3%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes galleryAnimation-2 {
    0% {
      opacity: 0;
    }
  
    14.3%, 50% {
      opacity: 1;
    }
  
    64.3%, 100% {
      opacity: 0;
    }
  }
  
  .gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .items-2.autoplay .control-button {
    -webkit-animation: controlAnimation-2 14s infinite;
    -o-animation: controlAnimation-2 14s infinite;
    animation: controlAnimation-2 14s infinite;
  }
  
  .items-2.autoplay .item {
    -webkit-animation: galleryAnimation-2 14s infinite;
    -o-animation: galleryAnimation-2 14s infinite;
    animation: galleryAnimation-2 14s infinite;
  }
  
  .items-2 .control-button:nth-of-type(1),
  .items-2 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .items-2 .control-button:nth-of-type(2),
  .items-2 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  @-webkit-keyframes controlAnimation-3 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    9.5%, 33.3% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    42.9%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-o-keyframes controlAnimation-3 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    9.5%, 33.3% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    42.9%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @keyframes controlAnimation-3 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    9.5%, 33.3% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    42.9%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-webkit-keyframes galleryAnimation-3 {
    0% {
      opacity: 0;
    }
  
    9.5%, 33.3% {
      opacity: 1;
    }
  
    42.9%, 100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes galleryAnimation-3 {
    0% {
      opacity: 0;
    }
  
    9.5%, 33.3% {
      opacity: 1;
    }
  
    42.9%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes galleryAnimation-3 {
    0% {
      opacity: 0;
    }
  
    9.5%, 33.3% {
      opacity: 1;
    }
  
    42.9%, 100% {
      opacity: 0;
    }
  }
  
  .gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .items-3.autoplay .control-button {
    -webkit-animation: controlAnimation-3 21s infinite;
    -o-animation: controlAnimation-3 21s infinite;
    animation: controlAnimation-3 21s infinite;
  }
  
  .items-3.autoplay .item {
    -webkit-animation: galleryAnimation-3 21s infinite;
    -o-animation: galleryAnimation-3 21s infinite;
    animation: galleryAnimation-3 21s infinite;
  }
  
  .items-3 .control-button:nth-of-type(1),
  .items-3 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .items-3 .control-button:nth-of-type(2),
  .items-3 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .items-3 .control-button:nth-of-type(3),
  .items-3 .item:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
  }
  
  @-webkit-keyframes controlAnimation-4 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    7.1%, 25% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    32.1%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-o-keyframes controlAnimation-4 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    7.1%, 25% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    32.1%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @keyframes controlAnimation-4 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    7.1%, 25% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    32.1%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-webkit-keyframes galleryAnimation-4 {
    0% {
      opacity: 0;
    }
  
    7.1%, 25% {
      opacity: 1;
    }
  
    32.1%, 100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes galleryAnimation-4 {
    0% {
      opacity: 0;
    }
  
    7.1%, 25% {
      opacity: 1;
    }
  
    32.1%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes galleryAnimation-4 {
    0% {
      opacity: 0;
    }
  
    7.1%, 25% {
      opacity: 1;
    }
  
    32.1%, 100% {
      opacity: 0;
    }
  }
  
  .gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .items-4.autoplay .control-button {
    -webkit-animation: controlAnimation-4 28s infinite;
    -o-animation: controlAnimation-4 28s infinite;
    animation: controlAnimation-4 28s infinite;
  }
  
  .items-4.autoplay .item {
    -webkit-animation: galleryAnimation-4 28s infinite;
    -o-animation: galleryAnimation-4 28s infinite;
    animation: galleryAnimation-4 28s infinite;
  }
  
  .items-4 .control-button:nth-of-type(1),
  .items-4 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .items-4 .control-button:nth-of-type(2),
  .items-4 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .items-4 .control-button:nth-of-type(3),
  .items-4 .item:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
  }
  
  .items-4 .control-button:nth-of-type(4),
  .items-4 .item:nth-of-type(4) {
    -webkit-animation-delay: 19s;
    -o-animation-delay: 19s;
    animation-delay: 19s;
  }
  
  @-webkit-keyframes controlAnimation-5 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    5.7%, 20% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    25.7%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-o-keyframes controlAnimation-5 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    5.7%, 20% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    25.7%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @keyframes controlAnimation-5 {
    0% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  
    5.7%, 20% {
      color: white;
      color: rgba(255, 255, 255, 0.8);
    }
  
    25.7%, 100% {
      color: #ccc;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  
  @-webkit-keyframes galleryAnimation-5 {
    0% {
      opacity: 0;
    }
  
    5.7%, 20% {
      opacity: 1;
    }
  
    25.7%, 100% {
      opacity: 0;
    }
  }
  
  @-o-keyframes galleryAnimation-5 {
    0% {
      opacity: 0;
    }
  
    5.7%, 20% {
      opacity: 1;
    }
  
    25.7%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes galleryAnimation-5 {
    0% {
      opacity: 0;
    }
  
    5.7%, 20% {
      opacity: 1;
    }
  
    25.7%, 100% {
      opacity: 0;
    }
  }
  
  .gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(4):target ~ .item:nth-of-type(4) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .gallery .control-operator:nth-of-type(5):target ~ .item:nth-of-type(5) {
    pointer-events: auto;
    opacity: 1;
  }
  
  .items-5.autoplay .control-button {
    -webkit-animation: controlAnimation-5 35s infinite;
    -o-animation: controlAnimation-5 35s infinite;
    animation: controlAnimation-5 35s infinite;
  }
  
  .items-5.autoplay .item {
    -webkit-animation: galleryAnimation-5 35s infinite;
    -o-animation: galleryAnimation-5 35s infinite;
    animation: galleryAnimation-5 35s infinite;
  }
  
  .items-5 .control-button:nth-of-type(1),
  .items-5 .item:nth-of-type(1) {
    -webkit-animation-delay: -2s;
    -o-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .items-5 .control-button:nth-of-type(2),
  .items-5 .item:nth-of-type(2) {
    -webkit-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .items-5 .control-button:nth-of-type(3),
  .items-5 .item:nth-of-type(3) {
    -webkit-animation-delay: 12s;
    -o-animation-delay: 12s;
    animation-delay: 12s;
  }
  
  .items-5 .control-button:nth-of-type(4),
  .items-5 .item:nth-of-type(4) {
    -webkit-animation-delay: 19s;
    -o-animation-delay: 19s;
    animation-delay: 19s;
  }
  
  .items-5 .control-button:nth-of-type(5),
  .items-5 .item:nth-of-type(5) {
    -webkit-animation-delay: 26s;
    -o-animation-delay: 26s;
    animation-delay: 26s;
  }
  
  .gallery .control-button {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .gallery .control-button:hover {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
  
  /*
      Theme controls how everything looks in Gallery CSS.
  */
  
  .gallery {
    position: relative;

   
  }
  
  .gallery .item img {
    width: 600px;
    height: 400px;
	height: auto;
    overflow: hidden;
    text-align: center;
    
  }

  .gallery .item {
    
    text-align: center;
    
  }

  

  
  
  .gallery .controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  
  .gallery .control-button {
    display: inline-block;
    position: relative;
    font-size: 5em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color .1s;
    -o-transition: color .1s;
    transition: color .1s;
  }

  @media screen and (max-width:615px) {

    .gallery .item img {
        width: 400px;
        height: 400px;
        height: auto;
        overflow: hidden;
        text-align: center;
        
      }

      .gallery .controls {
        position: absolute;
        top: 180px;
        width: 100%;
        text-align: center;
      }

  }

  